.card-sales {
  position: relative;

  width: 554px;
  min-height: 278px;
  padding: 40px 42px 0 39px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #048ac3;
  border-radius: 4px;

  box-shadow: 0 120px 25px -110px rgba(0, 0, 0, 0.3);
}

.card-sales__title {
  margin: 0;
  padding: 0;
  width: 370px;
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: column;

  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 1.2px;
}

.card-sales__title span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1.5px;

  opacity: 0.5;
}

.card-sales b {
  margin-left: 55px;
  font-weight: 800;
  font-size: 95px;
  line-height: 130px;

  opacity: 0.5;
}

.card-sales:last-child b {
  margin-left: 65px;
}

.card-sales__link {
  display: inline-block;
  vertical-align: top;
  margin-top: 53px;
  margin-left: 3px;
}

.card-sales__image {
  position: absolute;
  top: -10px;
  right: 15px;
}

.card-sales__image--coil {
  top: 23px;
}



