.footer {
  min-height: 439px;

  color: #6d6d6d;

  outline: 1px solid red;
}

.footer__high {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  min-height: 327px;

  outline: 1px solid red;
}


.footer__low {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px 0 30px;
  box-sizing: border-box;

  outline: 1px solid red;
}

.footer a {
  color: #6d6d6d;
}

.footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__first-cells {
  outline: 1px solid red;
}

.footer__company {
  outline: 1px solid orange;
}

.footer__buyers {
  outline: 1px solid red;
}

.footer__wholesalers {
  outline: 1px solid green;
}

.footer__contacts {
  outline: 1px solid orange;
}
