@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-regular.woff2") format("woff2"), url("../fonts/panton-regular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-bold.woff2") format("woff2"), url("../fonts/panton-bold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-semibold.woff2") format("woff2"), url("../fonts/panton-semibold.woff") format("woff");
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-extrabold.woff2") format("woff2"), url("../fonts/panton-extrabold.woff") format("woff");
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-black.woff2") format("woff2"), url("../fonts/panton-black.woff") format("woff");
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  outline: 1px solid red;
}
.header__high {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #1d1e1e;
  opacity: 0.5;
  outline: 2px solid red;
}
.header__high-container {
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  outline: 2px solid orange;
}
.header__high-call {
  font-size: 13px;
  line-height: 25px;
}
.header__high-container button {
  font-weight: 600;
  font-size: 20px;
  color: #009ee2;
  color: green;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.header__middle {
  width: 1200px;
  min-height: 124px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid green;
}
.header__middle-logotype {
  margin-right: 26px;
}
.header__middle-form input {
  width: 554px;
  height: 40px;
  margin-right: 41px;
  padding-left: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  font-family: "Panton", "Arial", sans-serif;
  word-spacing: 3.5px;
  border: 1px solid orange;
  border-radius: 4px;
  background-color: transparent;
}
.header__middle-functional {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 247px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid red;
}
.header__low {
  min-height: 60px;
  outline: 1px solid tomato;
}
.header__low-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid lightgreen;
}
.header__low-catalog {
  width: 263px;
  height: 60px;
  font-size: 18px;
  line-height: 25px;
}
.navigation-dark {
  outline: 1px solid red;
}
.navigation-dark__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid orange;
}
.navigation-dark__item a {
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}
.logotype {
  font-weight: 900;
  font-size: 50px;
  line-height: 20px;
  letter-spacing: 4.5px;
  color: #0086c0;
  outline: 1px solid red;
}
.logotype--gray {
  color: #6d6d6d;
}
.navigation-light {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid green;
}
.navigation-light__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 1px solid red;
}
.navigation-light__item {
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-light__item a {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  outline: 1px solid green;
}
.button {
  font-family: "Panton", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #29afe2;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
.index-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.index-main-first-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 740px;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 30px 100px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  border-bottom: 1px solid green;
}
.goods {
  width: 262px;
  min-height: 610px;
  border-radius: 4px;
  border: 1px solid red;
}
.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goods-item {
  border-bottom: 1px solid green;
}
.goods-item:last-child {
  border-bottom: none;
}
.goods-item a {
  display: block;
  padding: 13px 0 13px 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  font-family: "Panton", "Arial", sans-serif;
}
.slide {
  width: 846px;
  height: 610px;
  outline: 1px solid red;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sales-hits {
  width: 1200px;
  min-height: 674px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid red;
}
.sales-hits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 124px;
  padding-bottom: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red;
}
.sales-hits h2 {
  padding: 0;
  margin: 0;
  margin-right: 32px;
  font-weight: 800;
  font-size: 36px;
  line-height: 25px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: green;
}
.sales-hits__catalog {
  font-weight: 800;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  color: #009ee2;
  color: tomato;
}
.sales-hits__switches {
  margin-left: auto;
  outline: 1px solid red;
}
.sales-hits__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.novelties {
  width: 1200px;
  min-height: 674px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid red;
}
.novelties__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 124px;
  padding-bottom: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red;
}
.novelties h2 {
  padding: 0;
  margin: 0;
  margin-right: 32px;
  font-weight: 800;
  font-size: 36px;
  line-height: 25px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: green;
}
.novelties__catalog {
  font-weight: 800;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  color: #009ee2;
  color: tomato;
}
.novelties__switches {
  margin-left: auto;
  outline: 1px solid red;
}
.novelties__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-good {
  width: 262px;
  min-height: 450px;
  outline: 1px solid black;
}
.latest-news {
  width: 1200px;
  min-height: 788px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red;
}
.latest-news__high {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 124px;
  padding-bottom: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  outline: 1px solid red;
}
.latest-news h2 {
  padding: 0;
  margin: 0;
  margin-right: 32px;
  font-weight: 800;
  font-size: 36px;
  line-height: 25px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: green;
}
.latest-news__all-news {
  font-weight: 800;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  color: #009ee2;
  color: tomato;
}
.latest-news__switches {
  margin-left: auto;
  outline: 1px solid red;
}
.latest-news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: 1px solid blue;
}
.card-news {
  width: 360px;
  min-height: 430px;
  outline: 1px solid orange;
}
.sales {
  min-height: 405px;
  outline: 1px solid green;
}
.sales__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 60px 30px 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card-sales {
  width: 554px;
  min-height: 278px;
  outline: 1px solid red;
}
.company {
  min-height: 618px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red;
}
.company h2 {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 25px;
  text-transform: uppercase;
  color: green;
  outline: 1px solid red;
}
.company__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.company__about p {
  width: 545px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.33px;
  outline: 1px solid red;
}
.company__right-text {
  margin-right: 10px;
}
.footer {
  min-height: 439px;
  color: #6d6d6d;
  outline: 1px solid red;
}
.footer__high {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 327px;
  outline: 1px solid red;
}
.footer__low {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid red;
}
.footer a {
  color: #6d6d6d;
}
.footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__first-cells {
  outline: 1px solid red;
}
.footer__company {
  outline: 1px solid orange;
}
.footer__buyers {
  outline: 1px solid red;
}
.footer__wholesalers {
  outline: 1px solid green;
}
.footer__contacts {
  outline: 1px solid orange;
}
/*
@import "social.less";

@import "variables.less";

*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Panton", "Arial", sans-serif;
  text-transform: none;
  background-image: url("../img/substrate/main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  color: #2A2939;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
