@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-regular.woff2") format("woff2"), url("../fonts/panton-regular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-bold.woff2") format("woff2"), url("../fonts/panton-bold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-semibold.woff2") format("woff2"), url("../fonts/panton-semibold.woff") format("woff");
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-extrabold.woff2") format("woff2"), url("../fonts/panton-extrabold.woff") format("woff");
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: "Panton";
  src: url("../fonts/panton-black.woff2") format("woff2"), url("../fonts/panton-black.woff") format("woff");
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 230px;
  font-weight: 400;
  /*font-family: "Circe", "Arial", sans-serif;*/
  outline: 1px solid red;
}
.header__high {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #1d1e1e;
  opacity: 0.5;
  outline: 2px solid red;
}
.header__high-container {
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  outline: 2px solid orange;
}
.header__high-call {
  font-size: 13px;
  line-height: 25px;
}
.header__high-container button {
  font-weight: 600;
  font-size: 20px;
  color: #009ee2;
  color: green;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.navigation-dark {
  outline: 1px solid red;
}
.navigation-dark__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid orange;
}
.navigation-dark__item a {
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}
/*
@import "social.less";
@import "button.less";
@import "visually-hidden.less";
@import "variables.less";
*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Panton", "Arial", sans-serif;
  text-transform: none;
  /*
  background-image: url("../img/substrate/main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
*/
}
a {
  color: #2A2939;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
